* { font-family: 'Roboto', sans-serif;
}
h1,h2 {
	font-family: 'Montserrat', sans-serif;
}

img{
	width: 250px;
	border-radius: 50%;
}

body ul {
  list-style: none;
  padding: 0;
}

#landing {
	/** add vertical function*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;


	height: 80vh;
}